.search-bar__input{
  background: #777;
  text-align: left;
  font-family: "Arial";
  padding-left: 7px;
  font-size: 16px;

  display: block;
  width: 80%;
  margin: 0 auto;  height: 44px;
  line-height: 44px;
}

.search-bar__input{
  border: 0;
  background: #feef30;
  font-weight: 600;
  font-family: "Arial Narrow";
  font-size: 21px;
  padding: 0 20px;

  height: 44px;
  line-height: 44px;
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* Your Code below... */
