/* SETUP */
.demo-02-inner-container {
  max-width: 800px;
  margin: 0 auto;
}

.fixed-icon-contact-us{
  font-size: 45px;
  background: #00695C;
  color: #fff;

  height: 60px;
  width: 400px;
  line-height: 60px;
  text-align: center;

  position: fixed;
  bottom: 15px;
  left: 10px;

  @media screen and (min-width: $tablet){
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/* Your Code here... */
