
.demo-0__header-title{
  font-size: 24px;
  background: salmon;

  @media screen and (min-width: $tablet){
    font-size: 30px;
  }

  @media screen and (min-width: $laptop){
    font-size: 42px;
  }

}
